{% extends 'jutyu/_base.html' %}

{% block content %}
    <h1>受注一覧</h1>
    <a href="{% url 'add_jutyu' %}">受注入力</a>
    <table class="table">
        <thead>
        <tr>
            <th>受注日付</th>
            <th>顧客</th>
        </tr>
        </thead>
        <tbody>
        {% for jutyuhead in jutyuhead_list %}
            <tr>
                <td>{{ jutyuhead.jutyu_date|date:'Y-m-d' }}</td>
                <td>{{ jutyuhead.customer }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p>{{ jutyuhead_list.count }} 件</p>
{% endblock content %}